.header {
  background-size: cover;
  background-position: center;
  height: 100vh; /* Ajuste a altura do cabeçalho */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
