.header {
  background-size: cover;
  background-position: center;
  height: 100vh; /* Ajuste a altura do cabeçalho */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

h1 {
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Para destacar o texto */
}
